body {
  width: 980px;
  height: 1060px;
  padding: 30px 50px;
  border: 3px solid;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
  display: block;
  background: #c9ccd3;
  background-image: linear-gradient(to top, #c3cfe2 0%, #ace0f9 100%);
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin: 15px auto;
}

h4 {
  margin: 25px auto;
  margin-bottom: 30px;
  font-size: 28px;
}

img {
  border: 6px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.05);
}

hr {
  border: 1px solid black;
}

form {
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.05);
  width: 300px;
  height: 120px;
  padding-top: 13px;
  position: relative;
  left: 290px;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.description,
.units,
.temperature {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.description {
  text-transform: capitalize;
}

.btn {
  border: 3px solid black;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3px;
  color: #f5f7fa;
}

.btn:hover {
  cursor: pointer;
  color: black;
  background: #f5f7fa;
  border: 3px solid black;
}

.CurrentWeatherIcon {
  position: relative;
  margin-left: 450px;
  top: -110px;
  margin-bottom: -45px;
  width: 110px;
  height: 100px;
}

.units {
  font-size: 14px;
  position: relative;
  top: -5px;
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif cursive;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  border: 6px solid black;
  margin-bottom: 12px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
